In [1]:
import pandas as pd

# Sample Data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 30, 22, 25, 29],
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT'],
    'Salary': [50000, 60000, 52000, 58000, 62000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   30         IT   60000
2  Charlie   22         HR   52000
3    David   25    Finance   58000
4      Eve   29         IT   62000

In [2]:
df_filtered = df[df['Age'] > 25]
print(df_filtered)

  Name  Age Department  Salary
1  Bob   30         IT   60000
4  Eve   29         IT   62000